/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #ffcccc;
}

.hero h1 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

#playButton {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
}

.content {
    text-align: center;
    margin: 50px 0;
}

.content h2 {
    margin-bottom: 20px;
}

.gallery {
    display: block; /* Bu kısmı değiştirdik */
    width: 100%;
}

.gallery img {
    width: 100%; /* Görselleri tam genişlikte yapar */
    height: auto; /* Görüntülerin orantısını korur */
    display: block;
    margin-bottom: 20px; /* Görseller arasında boşluk bırakır */
}

.message {
    text-align: center;
    padding: 30px;
    background-color: #ffe6e6;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffcccc;
}
